<section class="fxmaster sidebar-tab directory flexcol">
  <header class="directory-header flexrow">
    <div>
      <a class="sync-effects"><i class="fas fa-sync"></i></a>
    </div>
    <div>
      <a data-action="add-effect">{{localize "FXMASTER.AddEffect"}} <i class="fas
          fa-plus"></i></a>
    </div>
  </header>
  <ol class="directory-list">
    {{#each folders as |folder id|}}
    <li class="directory-item folder flexcol collapsed" data-folder-id="{{id}}">
      <header class="folder-header flexrow">
        <h3><i class="fas fa-folder-open fa-fw"></i> {{folder.label}}</h3>
      </header>
      <ol class="subdirectory">
        {{#each folder.effects as |effect effectId|}}
        <li class="directory-item entity flexrow special-effects" data-effect-id="{{effectId}}">
          <div class="preview">
            <video width="46" height="46" muted>
              <source src="{{effect.file}}">
            </video>
          </div>
          <div class="description">
            <a>
              <h4 title="{{effect.label}}">
                {{effect.label}}
              </h4>
              <div class="author"><span>{{effect.author}}</span></div>
            </a>
          </div>
          <div class="controls">
            {{#unless (eq effect.preset false)}}
            <a class="edit-effect"><i class="fas fa-clone"></i></a>
            {{else}}
            <a class="edit-effect"><i class="fas fa-edit"></i></a>
            <a class="del-effect"><i class="fas fa-trash"></i></a>
            {{/unless}}
          </div>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ol>
  <footer class="directory-footer flexrow">
  </footer>
</section>